@import '~antd/dist/antd.css';

.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search-box{
   width: 500px;
   margin-top:18px;
        margin-left:80px;
        margin-right:550px;
}
.side{
  display: block;
}
.alert{
  height: 90;
  color: '#9D8506';
  font-weight: 400px;
  font-size: 16px;
  padding-left:300px;
  margin:10px;
  position: relative;
  
  border-left-color: #9D8506;
  border-left-width:4px;
}

@media only screen and (max-width: 600px) {
  .first-card { 
    width: 100%;
    
}
.search-box{
      margin-right: 20px;
      width: 100px;
      margin-left:0px;
      
}
.side{
  display: none;
}
body{
  width: 100%;
}
}